<div class="crypto-list-container w-100">
  <ul class="list-group list-group-flush text-center rounded-3 mb-3 w-100">
    <li
      *ngFor="let data of websocketData"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <span class="fw-bold">{{ data.cryptoId }}</span>
      <div class="text-high mx-2 d-flex flex-column flex-md-row">
        <i class="fa-solid fa-arrow-trend-up me-2" style="color: #b3005f"></i>
        <span> {{ data.high }}</span>
      </div>
      <div class="text-low d-flex flex-column flex-md-row">
        <i class="fa-solid fa-arrow-trend-down me-2" style="color: #0740b0"></i>
        <span> {{ data.low }}</span>
      </div>
    </li>
  </ul>
  <div>
    <button
      *ngIf="isOpen"
      mat-mini-fab
      matTooltip="Pause Data"
      color="accent"
      (click)="onClose()"
      Close
      Socket
    >
      <mat-icon>power_settings_new</mat-icon>
    </button>
    <button
      *ngIf="!isOpen"
      mat-mini-fab
      matTooltip="Start Data"
      color="primary"
      (click)="onGetData()"
      Close
      Socket
    >
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </div>
</div>
