.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  flex: 0 0 auto;
  width: 100%;
  height: fit-content;
  background-image: url("../../../assets/background.jpg");
  background-size: 300%;
  background-repeat: repeat;
}

.main {
  flex: 1;
  padding: 20px;
}

@media (min-width: 768px) {
  .sidebar {
    flex: 0 0 auto;
    width: 20rem;
    padding: 10px;
    height: 100%;
  }
}
