<section
  class="d-flex flex-column justify-content-center align-items-center h-75"
>
  <h1 class="mb-5">CryptoSwap</h1>
  <div class="container shadow rounded-5" id="container">
    <div class="form-container sign-up-container">
      <form [formGroup]="signUpForm">
        <h1>Create Account</h1>
        <div>
          <mat-form-field style="width: 18rem">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="text"
              name="email"
              [(ngModel)]="signUpObj.email"
              formControlName="email"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 18rem">
            <mat-label>Username</mat-label>
            <input
              matInput
              type="text"
              name="username"
              [(ngModel)]="signUpObj.username"
              formControlName="username"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 18rem">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              name="password"
              [(ngModel)]="signUpObj.password"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          color="accent"
          class="mb-4"
          (click)="onSignUp()"
        >
          Sign Up
        </button>
        <span>or register with:</span>
        <div class="social-container">
          <button mat-mini-fab color="primary" class="me-3 my-2">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button mat-mini-fab color="primary">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </form>
    </div>
    <div
      *ngIf="!authService.isLoggedIn"
      class="form-container sign-in-container"
    >
      <form [formGroup]="logInForm">
        <h1 class="mb-3">Sign in</h1>
        <div>
          <mat-form-field style="width: 18rem">
            <mat-label>Username</mat-label>
            <input
              matInput
              type="text"
              name="username"
              [(ngModel)]="signUpObj.username"
              formControlName="username"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 18rem">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              name="password"
              [(ngModel)]="signUpObj.password"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <a href="#" class="mb-3">Forgot your password?</a>
        <button
          mat-raised-button
          color="primary"
          class="mb-5"
          (click)="onLogIn()"
        >
          Sign In
        </button>
        <span>or sign in with:</span>
        <div class="social-container">
          <button mat-mini-fab color="primary" class="me-3 my-2">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button mat-mini-fab color="primary">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </form>
    </div>
    <div
      *ngIf="authService.isLoggedIn"
      class="form-container sign-in-container d-flex flex-column justify-content-center p-5 text-center"
    >
      <p>signed in.</p>
      <div>
        <button
          mat-raised-button
          color="accent"
          [routerLink]="['/dashboard']"
          class="me-3"
        >
          Dashboard
        </button>
        <button mat-raised-button (click)="onLogOut()">Log Out</button>
      </div>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button mat-raised-button color="primary" class="ghost" id="signIn">
            Sign In
          </button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button mat-raised-button color="accent" class="ghost" id="signUp">
            Sign Up
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
