<section
  class="container-fluid d-flex flex-column justify-items-center justify-content-center"
>
  <div class="container col-9">
    <blockquote class="blockquote text-center p-3 mb-5">
      <div class="fs-4 d-flex justify-items-between">
        <span class="display-1 px-4">„</span>
        <p class="h2">
          With a multi-billion dollar market capitalization, crypto is here to
          stay. It's not going anywhere.
        </p>
        <span class="display-1 px-4">”</span>
      </div>
      <footer class="blockquote-footer">
        <cite title="Source Title">Ritchie Torres</cite> about crypto
      </footer>
    </blockquote>
    <div class="row row-cols-1 row-cols-lg-3 g-4">
      <div class="col">
        <div class="card h-100 border-0">
          <img
            src="../../../../assets/piggybank.jpg"
            class="card-img-top rounded-circle shadow circle-img"
            alt="..."
          />
          <div class="card-body my-3 shadow">
            <h1 class="card-title text-center">Explore Dashboard</h1>
            <p class="card-text">
              Explore a world of investment opportunities. Buy stocks in
              companies you believe in and watch your portfolio grow over time.
              Stay up to date with cryptocurrency prices.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-0">
          <img
            src="../../../../assets/coins.jpg"
            class="card-img-top rounded-circle shadow circle-img"
            alt="..."
          />
          <div class="card-body my-3 shadow">
            <h1 class="card-title text-center">Crypto Made Easy</h1>
            <p class="card-text">
              Dive into the exciting world of cryptocurrency trading. Buy, sell,
              and trade a variety of digital coins. Stay ahead of the market
              trends and maximize your returns.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 border-0">
          <img
            src="../../../../assets/usd.jpg"
            class="card-img-top rounded-circle shadow circle-img"
            alt="..."
          />
          <div class="card-body my-3 shadow">
            <h1 class="card-title text-center">Stay Informed</h1>
            <p class="card-text">
              Track your investments, view real-time market data, and make
              informed decisions. Our intuitive dashboard provides a
              comprehensive overview of your portfolio.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container col-9 mt-5 mb-0">
    <h1 class="text-center card-title">Understanding Blockchain</h1>
    <div class="card border-0">
      <div class="card-body my-3 shadow text-center">
        <p class="fs-5 lh-sm">
          This Blockchain and Cryptocurrency video covers all the important
          concepts from basics to advance. It will help you understand what led
          to the creation of Blockchain, what Blockchain is, how a Bitcoin
          transaction works, how Blockchain plays an integral role in it with
          features like hash encryption, proof of work and mining and how
          Blockchain technology is used in real-life scenarios.
        </p>
        <div
          class="d-flex justify-content-center align-items-center text-align-center p-3"
        >
          <iframe
            width="800"
            height="500"
            src="https://www.youtube.com/embed/MFw8Ax0p7dA?si=0lLMVk5nYmzAIaJY&amp;controls=0"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            class="rounded-5 shadow"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
