<div class="container-fluid mx-auto mt-3">
  <h1>Save Crypto</h1>
  <div *ngIf="submitMessage == ''">
    <form
      [formGroup]="addCryptoForm"
      (ngSubmit)="onSubmit()"
      class="row g-3 d-flex align-items-end justify-content-center"
    >
      <div class="col-md">
        <label class="form-label" for="symbolId">Select Cryptocurrency:</label>
        <select class="form-select" formControlName="symbolId" id="symbolId">
          <option
            *ngFor="let coin of popularCoins; let i = index"
            [value]="coin"
          >
            {{ popularCoinsFullName[i] }} - {{ coin }}
          </option>
        </select>
      </div>
      <div class="col-md">
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>save_alt</mat-icon>
          Save Cryptocurrency
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="submitMessage != ''" class="row text-center mt-3">
    <h2>{{ submitMessage }}</h2>
  </div>
</div>
