@import "bootstrap/scss/bootstrap";

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-title {
  color: #283593;
  letter-spacing: 5px !important;
}

.circle-img:hover {
  transition: all 3.5s;
  transform: rotateY(360deg);
}
