<table class="table table-striped">
  <thead>
    <h3>Last Week's Data</h3>
    <button class="btn btn-primary" (click)="getHistoricalData(symbol_id)">
      Get Data
    </button>
    <tr>
      <th>Exchange</th>
      <th>Price Close</th>
      <th>Period start</th>
      <th>Period end</th>
      <th>Price high</th>
      <th>Price low</th>
      <th>Price close</th>
      <th>Volume traded</th>
      <th>Trades count</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let crypto of cryptos">
      <td>{{ symbol_id }}</td>
      <td>{{ crypto.price_close }}</td>
      <td>{{ crypto.time_period_start }}</td>
      <td>{{ crypto.time_period_end }}</td>
      <td>{{ crypto.price_high }}</td>
      <td>{{ crypto.price_low }}</td>
      <td>{{ crypto.price_close }}</td>
      <td>{{ crypto.volume_traded }}</td>
      <td>{{ crypto.trades_count }}</td>
    </tr>
  </tbody>
</table>
