<div class="w-100 mt-3">
  <!-- User -->
  <div class="container-fluid mb-4">
    <small>Welcome! You're logged in as:</small>

    <div
      class="d-flex flex-column align-items-center justify-content-center mb-5 w-100"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        height="50%"
        width="50%"
        fill="url(#myGradient)"
        class="border border-5 border-light rounded-circle mt-3 shadow"
      >
        <defs>
          <linearGradient id="myGradient" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%" style="stop-color: #191cbd; stop-opacity: 1" />
            <stop offset="180%" style="stop-color: #e4318b; stop-opacity: 1" />
          </linearGradient>
        </defs>
        <path
          d="M256 288A144 144 0 1 0 256 0a144 144 0 1 0 0 288zm-94.7 32C72.2 320 0 392.2 0 481.3c0 17 13.8 30.7 30.7 30.7H481.3c17 0 30.7-13.8 30.7-30.7C512 392.2 439.8 320 350.7 320H161.3z"
        />
      </svg>
      <div class="text-center bg-light rounded-3 p-3 mt-2 shadow w-100">
        <p class="fs-3 mb-3">{{ this.loggedUser?.username }}</p>
        <p class="fs-5">{{ this.loggedUser?.email }}</p>
      </div>
    </div>

    <!-- Navbar -->
    <div class="w-100 shadow rounded-3">
      <ul class="list-group list-group-flush text-center">
        <a
          routerLink="/dashboard"
          class="list-group-item list-group-item-action list-group-item-light border"
          aria-current="true"
        >
          Home
        </a>
        <a
          routerLink="/dashboard/welcome"
          class="list-group-item list-group-item-action list-group-item-light border"
          aria-current="true"
        >
          About
        </a>
        <a
          routerLink="/dashboard/add-crypto"
          class="list-group-item list-group-item-action list-group-item-light border"
          >Add Crypto</a
        >
        <button mat-stroked-button (click)="onLogOut()">
          <mat-icon>power_settings_new</mat-icon>
          Log Out
        </button>
      </ul>
    </div>
    <!-- Websocket -->
    <div class="text-center bg-light rounded-3 p-3 mt-5 shadow w-100">
      <app-websocket></app-websocket>
    </div>
  </div>
</div>
