<div class="w-100">
  <ul class="list-group list-group-flush">
    <a
      routerLink="/dashboard"
      class="list-group-item list-group-item-action list-group-item-light"
      aria-current="true"
    >
      Home
    </a>
    <a
      routerLink="/dashboard/crypto"
      class="list-group-item list-group-item-action list-group-item-light"
      >Saved cryptos</a
    >
    <a
      routerLink="/dashboard/add-crypto"
      class="list-group-item list-group-item-action list-group-item-light"
      >Add Crypto</a
    >
    <li class="list-group-item list-group-item-action list-group-item-light">
      <button (click)="onLogOut()" class="btn btn-sm">Log Out</button>
    </li>
  </ul>
</div>
